@import "~antd/dist/antd.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .comic-shadow {
    border: 1px solid black;
    box-shadow: 0.4rem 0.4rem 0 #222;
  }
  .comic-shadow-btn {
    border: 1px solid black;
    box-shadow: 0.15rem 0.15rem 0 #222;
  }
  .row-table-color {
    background-color: #e1f4f9;
  }
  .form-style {
    @apply bg-white rounded-2xl comic-shadow-btn
  }
  .form-style-blue {
    @apply bg-[#E1F4F9] rounded-2xl comic-shadow-btn
  }
}
@layer utilities {
}

#root {
  height: 90vh;
}
.custom-row-hover:hover td {
  background: rgba(224, 248, 232, 1) !important;
}
